# Set the default file for indexes
DirectoryIndex index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase '/'
    # If the file is NOT the index.php file
    RewriteCond %{REQUEST_FILENAME} !index.php
    RewriteCond %{REQUEST_FILENAME} !files.php
    RewriteCond %{REQUEST_FILENAME} !installer.php
    # Hide all PHP files so that none can be accessed by HTTP
    RewriteRule (.*)\.php$ - [F,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^files/(.*)$ files.php

    RewriteRule ^config/(.*)$ - [F,L,NC]
    RewriteRule ^controllers/(.*)$ - [F,L,NC]
    RewriteRule ^runtime/(.*)$ - [F,L,NC]
    RewriteRule ^uploads/(.*)$ - [F,L,NC]
    RewriteRule ^views/(.*)$ - [F,L,NC]
    #RewriteRule ^files/(.*)$ - [F,L,NC]

    RewriteCond %{REQUEST_URI} !^files/(.*)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule .* installer.php [L]

</IfModule>
